/*$$$$$$$$$$$$$$$$$$$*/
/*Container*/
/*Bloc Principal*/


.container-page3 {
    @include flex-center-column;
    width: 100%;
    position: relative;
    background-color: $creme;


    nav {
        @include flex-Center;
        top: 20px;
        left: 20px;
        position: absolute;
        width: 100px;
        height: 100px;

        a {
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            color: $saumon;
            text-decoration: none;
            text-shadow: 0.8px 0.8px 1px $bleu;
        }

        a:hover {
            color: $vert1;
            font-size: 22px;

        }
    }

}


/*TITRE PRINCIPAL*/
.container-page3__header-page3 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $creme;
    // padding-bottom: 80px;

    h1 {
        @include flex-center-column;
        text-align: center;
        background-color: $bleu;
        color: $creme;
        font-weight: 700;
        font-size: 36px;
        padding: 0.5em 0.5em 1em;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        box-shadow: 2px 2px 20px $vert3;
    }
    span {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        width: 70%;
    }



    /*MOUVEMENT SOURIS*/
    .barre {
        position: relative;
        overflow: hidden;
        left: -70px;
        top: 30px;
        width: 15px;
        height: 70px;
        background-color: $vert1;
        border: 0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    
        .point {
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: $bleu;
            border-radius: 50%;
            animation: slide-bottom-mouse 2s ease-in infinite;
        }
        @include slide-bottom-mouse(70px)
    }

}




/*§§§§§§§§§§§§§§§*/
/*TOP SECTION*/
.container-page3__top-section {
    @include flex-center-column;
    width: 100%;
    margin-bottom: 100px;

    h3 {
        text-align: center;
        color: $vert3;
        font-size: 36px;
        margin: 2em 0 1em;
    }
}

/*Descriptions 1 & 2*/
.top-section__descriptions{
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    flex-wrap: wrap;
    width: 100%;



    .descriptions {
        @include flex-Center;
        justify-content: space-between;
        margin: 20px;

        .support-img {
            @include flex-Center;
            align-self: flex-start;
            background-color: $vert3;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin-right: 15px;

            img {
            width: 20px;
            filter: invert(90%) sepia(12%) saturate(591%) hue-rotate(330deg) brightness(110%) contrast(104%);
            }
        }


        p{
            max-width: 400px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: $bleu;
        }
    }
}


/*Plan CoolBox*/
.plan{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 3em 0;

    /*Plan Capteurs*/
    .plan__capteurs {
        animation: opac 1s;
        @include flex-center-column;
        .images-capteurs {
            img {
                width: 80px;
            }
        }

        .icons {
            @include flex-Center;

            .support-icon {
                @include flex-Center;
                border-radius: 50%;
                border: solid 3px $vert3;
                margin: 5px;
                padding:2px;
                width:40px;
                height: 40px;
            
                img {
                    width: 28px;
                    filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);


                }
            }
        }
    }

    /*Plan Lora*/
    .plan__lora {
        animation: opac 2s;
        @include flex-center-column;
        align-self: flex-end;

        .arrows {
        filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);
        width: 50px;
        margin-bottom: -10px;
        }

        .icon-lora {
            width: 60px;
        }
    }


    /*Plan Passerelle*/
    .passerelle {
        animation: opac 3s;
        @include flex-center-column;
    }

    /*>Plan Wifi*/
    .plan__wifi {
        animation: opac 4s;
        @include flex-center-column;
        align-self: flex-end;

        .arrows {
            filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);
            width: 50px;
            }

        .icons {
            @include flex-Center;

            img {
                width: 40px;
                filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);  
            }

            .support-icon {
                @include flex-Center;
                border-radius: 50%;
                border: solid 3px $vert3;
                margin: 5px;
                padding:2px;
                width:40px;
                height: 40px;
            
                    img {
                        width: 28px;
                        filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);
                    }
            }
        }
    }


    /*Base*/
    .plan__base {
        @include flex-center-column;
        animation: opac 5s;
        .support-base {
            position: relative;
            margin-top: 20px;

            .img-base-1 {
                display: flex;
                z-index: 2;
                position: absolute;
                width: 30px;
                top: -20px;
                left: -15px;
                filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);
            }
            .img-base-2 {
                display: flex;
                z-index: 1;
                position: relative;
                width: 40px;
                filter: invert(70%) sepia(9%) saturate(1845%) hue-rotate(96deg) brightness(90%) contrast(90%);
                
            }
            .img-base-3 {
                display: flex;
                z-index: 2;
                position: absolute;
                top: 25px;
                left: 30px;
                width: 20px;
                filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);
                
            }
        }
    }


    /*Flèche droite*/
    .fleche {
        @include flex-Center;
        animation: opac 6s;

        img {
            filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);
            width: 50px;
            margin-top: 20px;
        }

    }


    /*DashBoard*/
    .dashboard {
        @include flex-center-column;
        animation: opac 7s;
        .support-pc {
            @include flex-Center;

            .pc {
            width: 100px;
            position: relative;
            }
            .dash {
                position: absolute;
                width: 90px;
                margin-top: -28px;
            }
        }

    }


    /*Plan P général*/
    .plan__p {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1em;
        text-align: center;

    }
}
@include opac;


/*§§§§§§§§§§§§§§§*/
/*MIDDLE-SECTION*/
.container-page3__middle-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 2;
    width: 100%;
    margin-bottom: -80px;


    .middle-part {
        @include flex-center-column;
        background-color: $vert3;
        box-shadow: 5px -5px 10px $bleu;
        border-radius: 50px;
        z-index: 1;
        width: 360px;
        height: 180px;
    }

    img {
        width: 60px;
        filter: invert(10%) sepia(30%) saturate(2001%) hue-rotate(182deg) brightness(100%) contrast(105%);
        margin-top: -30px;
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
        padding: 0.3em 0 0.8em;
        color: $creme;
        text-align: center
    }
    

    // height: 150px;
    // width: 60%;
    
}


/*§§§§§§§§§§§§§§§§*/
/*BOTTOM-SECTION */
.container-page3__bottom-section {
    @include flex-center-column;
    z-index: 1;
    width: 100%;
    background-color: $bleu;

    h3 {
        text-align: center;
        color: $vert3;
        font-size: 36px;
        margin: 5em 0 1em;
        color: $saumon;
    }


    .dash_and_texts {
        @include flex-Center;

        .dash {
            @include flex-Center;
            justify-content: space-around;
            width: 520px;

            .dash-logo {
                @include flex-center-column;
                justify-content: space-around;
                height: 200px;

                .support-cmvp {

                    img {
                        border-radius: 20px;
                        width: 100px;
                    }
                }

                .support-ipmvp {

                    img {
                        border-radius: 50%;
                        width: 100px;
                    }
                }
            }

            .dash-img {


                .support-pc2 {
                    @include flex-Center;
        
                    .pc2 {
                    width: 360px;
                    position: relative;
                    }
                    .dash2 {
                        position: absolute;
                        width: 320px;
                        margin-top: -28px;
                    }
                }
            }
        }

        .texts {
            width: 600px;


            .descriptions {
                @include flex-Center;
                margin: 20px;
        
                .support-img {
                    @include flex-Center;
                    align-self: flex-start;
                    background-color: $saumon;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    margin-right: 15px;
        
                    img {
                    width: 20px;
                    filter: invert(90%) sepia(12%) saturate(591%) hue-rotate(330deg) brightness(110%) contrast(104%);
                    }
                }
        
        
                p{
                    max-width: 500px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: $creme;
                }
            }
            
        }
    }
}